@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
@import '../figma/index.css';

/* Скрытие скроллбара при открытом модальном окне */
body.no-scroll,
html.no-scroll,
body.no-scroll main,
html.no-scroll main {
  overflow: hidden !important;
}

body.no-scroll::-webkit-scrollbar,
html.no-scroll::-webkit-scrollbar,
body.no-scroll main::-webkit-scrollbar,
html.no-scroll main::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

body.no-scroll,
body.no-scroll main {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
